.footer {
  padding: 2rem 1.5rem;
  background-color: var(--background-secondary);
  border-top: 1px solid var(--border-color);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: var(--max-content-width, 1120px);
  margin: 0 auto;
}

.footer-info .footer-name {
  font-weight: 600;
  display: block;
  margin-bottom: 0.25rem;
}

.footer-info p {
  font-size: 0.875rem;
  color: var(--text-secondary);
}

.footer-socials {
  display: flex;
  gap: 1.5rem;
}

.footer-socials a {
  font-size: 1.5rem;
  color: var(--text-secondary);
}

.footer-socials a:hover {
  color: var(--text-primary);
}

@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
      gap: 1.5rem;
      justify-content: center;
  }

  .footer-info {
      text-align: center;
      order: 2;
  }

  .footer-socials{
    order: 1;
  }
}