:root {
  --accent-color: #4a90e2;
  --text-primary: #fff;
  --text-secondary: #777;
  --background-color: #181202;
  --section-padding: 2rem;
  --max-content-width: 1200px;
}

.portfolio-page {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--section-padding);
  text-align: center;
}

.portfolio-heading {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: var(--accent-color);
}

.portfolio-subheading {
  font-size: 1.2rem;
  color: var(--text-secondary);
  margin-top: 0;
  margin-bottom: 1rem;
}

.portfolio-text{
    color: var(--text-primary);
    font-size: 1rem;
    line-height: 1.6;
    margin: 1.5rem auto;
    max-width: 700px;
}

img.profile-picture {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  margin: 1rem auto;
  display: block;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.tech-icon {
  font-size: 2.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
  color: var(--text-secondary);
}

.tech-icon:hover {
  transform: scale(1.2);
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .portfolio-heading {
    font-size: 3rem;
  }

  .portfolio-subheading {
    font-size: 1.5rem;
  }

  .portfolio-profile-picture {
    width: 20%;
  }
}

.button {
  padding: 0.75rem 1.5rem;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  margin-top: 1rem;
}